<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/listing">All Listings</a>
                <a class="nav-link" href="/listing/new">Create new listing</a>
            </div>
        </div>
    </div>
</nav>

<% if(success && success.length> 0) { %>
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <% } %>

        <% if(error && error.length> 0) { %>
            <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <% } %>